$body-fz: 16px;
$time1: 1s;
$time05: 0.5s;
$time0: 0;
$light-grey: #f5f5f5;
$grey: #eee;
$black: #080808;
$dark-black: #000;
$white: #fff;
$orange: #b02604;
$beige: blanchedalmond;
$grey: #545454;
$lightorange: #FF4300;
$lightblue: #6fcdfa;
$tab: 600px;